.display {
    background-color: #999999;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 50px;
    font-weight: lighter;
    
    padding: 20px 15px 5px 0;
    text-align: right;
    width: 100%;
}
.App{
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 5px;
    margin-top: 100px;
    padding: 1.8em;
    border-radius: 6px;
    background: rgba(0,0,0,0.7);
}
.buttons-container{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 6px;
}
.buttons-container button{
    width: 20%;
    height: 40px;
    line-height: 30px;
    margin: 2%;
    border: none;
    outline: none;
    background: rbga(#fff,#fff,#fff,0.7);
    color: #4C9689;
    font-weight: 700;
    font-size: 30px;
    border-radius: 6px;
}
.buttons-container:nth-child(17) {
    width: 200px;
}
.value-container input{
    text-align: right;
    border: none;
    height: 33px;
    margin: 0 auto;
    padding: 0 12px;
    display: block;
    font-size: 28px;
    font-weight: 800;
    width: 95%;
    color: #000;
    border-radius: 6px;
}
